<section class="congrat">
    <section class="sec-gbl">
        <div class="sec-sld1">
            <div>
                <div class="sld-tlt">
                    <p class="tlt-sld"><b>Congratulations</b></p>
                </div>
    
                <div class="sld-prg">
                    <p class="prg-sld">Your account has been created!</p>
                </div>
                <div class="sld-btn">
                    <button class="btn-congra"> Start Now &nbsp; &rsaquo; </button>
                </div>
                <div class="sld-img">
                    <img src="../../../assets/congra/illustr1.svg" class="img-sld">
                </div>
            </div>
        </div>
    </section>
</section>
