<div class="back-color">
    <div class="contenu">
        <div class="backgroundimg1">
            <div class="div-img">
               <span >Sign in</span>
            </div>
            <!-- Sign_up2 -->
            
            <div class="wrapper">
                <div class="form-group">
                    <div class="email">
                        <input type="text" class="form-control" placeholder="Your Email">
                        <span class="span-email" ><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20.2 18"><defs><style>.cls-1,.cls-3,.cls-4{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3,.cls-4{stroke-width:2px;}.cls-3{stroke-miterlimit:10;}.cls-4{stroke-linecap:round;stroke-linejoin:round;}</style><clipPath id="clip-path" transform="translate(0 0)"><rect class="cls-1" width="20.2" height="18"/></clipPath></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><ellipse class="cls-3" cx="9.59" cy="4.8" rx="3.5" ry="3.8"/></g><g class="cls-2"><path class="cls-4" d="M19.2,17l-.5-2.2A2.9,2.9,0,0,0,16,12.1H3.9c-1.4,0-2.2,1.2-2.3,2.7L1,17" transform="translate(0 0)"/></g></g></g></svg></span>
                    </div>
                    <div class="div-password">
                        <input type="password" class="form-control" placeholder="Your Password">
                        <span class="span-password"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 16 21"><defs><style>.cls-1{fill:none;}.cls-2{clip-path:url(#clip-path);}.cls-3{}</style><clipPath id="clip-path"><rect class="cls-1" width="16" height="21"/></clipPath></defs><title>Asset 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><path class="cls-3" d="M14,9v7.5c-.5.7-2.1,2.5-5.9,2.5S2.5,17.2,2,16.5V9H14m2-2H0V17s1.8,4,8.1,4c6.1,0,7.9-4,7.9-4Z"/></g><g class="cls-2"><path class="cls-3" d="M11,2a.94.94,0,0,1,1,1V6a.94.94,0,0,1-1,1H5A.94.94,0,0,1,4,6V3A.94.94,0,0,1,5,2h6m0-2H5A3,3,0,0,0,2,3V6A3,3,0,0,0,5,9h6a3,3,0,0,0,3-3V3a3,3,0,0,0-3-3"/></g><g class="cls-2"><rect class="cls-3" x="7.3" y="11.7" width="2.3" height="4"/></g></g></g></svg></span>
                    </div>
                    <div class="float-right">
                        <button class="btn btn-inlin-block btn-reset-password" >
                            Reset Password
                        </button>
                    </div>
                    <div class="div-btn-sign-in">
                        <button class="btn btn-block btn-sign-in">
                            Sign in
                        </button>
                    </div>
                    <div class='have-account'>
                        You dont have an account ? <span class="span-sign-up"> Sign up</span>
                    </div>
                    <div class="div-parent-or">
                        <div class="div-border">
            
                        </div>
                        <div class="div-or">
                            Or
                        </div >
                        <div class="div-border">
            
                        </div>
                    </div> 
                     <div class="div-icon-nav">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.67 17.67"><defs><style>.cls-1{opacity:0.88;}.cls-2{fill:#4d4995;fill-rule:evenodd;}</style></defs><title>FACEBOOK</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Forma_1" data-name="Forma 1" class="cls-1"><path class="cls-2" d="M9.3,0H7A4,4,0,0,0,2.7,4.35v2H.37A.36.36,0,0,0,0,6.71V9.62A.36.36,0,0,0,.37,10H2.7v7.33a.36.36,0,0,0,.36.36h3a.37.37,0,0,0,.37-.36V10H9.19a.37.37,0,0,0,.37-.36V6.71a.36.36,0,0,0-.11-.25.36.36,0,0,0-.26-.11H6.47V4.65c0-.81.19-1.23,1.27-1.23H9.3a.37.37,0,0,0,.37-.36V.36A.37.37,0,0,0,9.3,0Z"/></g></g></g></svg>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.67 15"><defs><style>.cls-1{opacity:0.88;}.cls-2{fill:#4d4995;fill-rule:evenodd;}</style></defs><title>Forma 1</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Forma_1" data-name="Forma 1" class="cls-1"><path class="cls-2" d="M18.67,1.78a7.78,7.78,0,0,1-2.2.59A3.79,3.79,0,0,0,18.15.28a7.84,7.84,0,0,1-2.43.92A3.83,3.83,0,0,0,9.1,3.79a3.55,3.55,0,0,0,.1.86,10.93,10.93,0,0,1-7.9-4A3.76,3.76,0,0,0,2.49,5.75,3.8,3.8,0,0,1,.75,5.27v.05A3.82,3.82,0,0,0,3.82,9a4.17,4.17,0,0,1-1,.13,4.39,4.39,0,0,1-.72-.07,3.84,3.84,0,0,0,3.58,2.63A7.71,7.71,0,0,1,.91,13.35a9.08,9.08,0,0,1-.91,0A11,11,0,0,0,5.87,15,10.76,10.76,0,0,0,16.77,4.22l0-.49A7.9,7.9,0,0,0,18.67,1.78Z"/></g></g></g></svg>
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 16"><defs><style>.cls-1{opacity:0.88;}.cls-2{fill:#4d4995;fill-rule:evenodd;}</style></defs><title>GOOGLE</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g id="Forma_1" data-name="Forma 1" class="cls-1"><path class="cls-2" d="M22.79,6.4V3.2H20.85V6.4h-3.2V8.33h3.2v3.2h1.94V8.33H26V6.4ZM8,9.6h4.54A4.81,4.81,0,1,1,8,3.2a4.74,4.74,0,0,1,3.12,1.16L13.25,2A8,8,0,1,0,16,8V6.4H8Z"/></g></g></g></svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

