# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/www
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db



# Cordova 

# Cordova Global
plugins/

# iOS Platform
platforms/ios/build/
platforms/ios/www/
platforms/ios/cordova/console.log

*.xcuserdatad

# Android Platform
platforms/android/.gradle
platforms/android/build
platforms/android/assets/www
platforms/android/local.properties
platforms/android/CordovaLib/build
platforms/android/CordovaLib/gen
platforms/android/CordovaLib/local.properties

# Windows Universal App (Windows Platform)
platforms/windows/build
platforms/windows/www
platforms/windows/AppPackages

# Browser
platforms/browser/www

ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk