<div id="topbar-s4"class="{{ extraClasses.join(' ') }}">
  <div class="affix-top">
    <div class="d-flex justify-content-between position-relative">
      <div id="menu" (click)="navigateTo('/subscriptions/status')">
        <svg class="svg hmd primary mt-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 23">
          <path class="aa7302fb-66e1-42c9-a36d-85f63d359cb2"
                d="M17.5,3H1.5a1.5,1.5,0,0,1,0-3h16a1.5,1.5,0,0,1,0,3Z"/>
          <path class="aa7302fb-66e1-42c9-a36d-85f63d359cb2"
                d="M37.5,23h-16a1.5,1.5,0,0,1,0-3h16a1.5,1.5,0,0,1,0,3Z"/>
          <path class="aa7302fb-66e1-42c9-a36d-85f63d359cb2"
                d="M1.5,13a1.5,1.5,0,0,1,0-3l35.69,0h0a1.5,1.5,0,0,1,0,3L1.5,13Z"/>
        </svg>
      </div>
      <div id="profile" (click)="navigateTo('/account/overview')">
        <img class="avatar" src="assets/img/img1.jpeg" alt="avatar">
        <div class="status active"></div>
      </div>
    </div>
  </div>
</div>
