<div *ngIf="gym" id="gym-card" class="card gym-card position-relative {{flat ? 'flat' : ''}}" (click)="onClick(gym.id)">
  <!--exit button-->
  <svg (click)="exit()" class="svg hxs exit shadow" viewBox="0 0 18.74 18.74" xmlns="http://www.w3.org/2000/svg"><defs ><style >.bc98a76a-bb9c-4f65-98d4-5d66f9b7743e{fill:#231f20;}</style></defs><title >exit</title><g  data-name="Layer 2" id="bd46cb1d-e542-4308-932e-bd45e2696b1f"><g  data-name="set" id="a076c2a8-af97-461a-b213-9ac50db2d888"><rect  class="bc98a76a-bb9c-4f65-98d4-5d66f9b7743e" height="2" transform="translate(-3.88 9.37) rotate(-45)" width="24.5" x="-2.88" y="8.37"></rect><rect  class="bc98a76a-bb9c-4f65-98d4-5d66f9b7743e" height="24.5" transform="translate(-3.88 9.37) rotate(-45)" width="2" x="8.37" y="-2.88"></rect></g></g></svg>

  <img class="feature-image" [src]="gym.logo || 'assets/img/room.png'" alt="">
  <div class="class {{gym.class.name}}">
    <svg viewBox="-58 0 404 404.54135" xmlns="http://www.w3.org/2000/svg">
      <path d="m277.527344 0h-267.257813c-5.523437 0-10 4.476562-10 10v374.527344c-.011719 7.503906 4.183594 14.378906 10.855469 17.804687 6.675781 3.429688 14.707031 2.832031 20.796875-1.550781l111.976563-80.265625 111.976562 80.269531c6.097656 4.367188 14.121094 4.960938 20.792969 1.535156 6.667969-3.425781 10.863281-10.292968 10.863281-17.792968v-374.527344c0-5.523438-4.480469-10-10.003906-10zm0 0"/>
    </svg>
    <span>{{gym.class.name | titlecase}}</span>
  </div>
  <button class="btn btn-primary btn-sm apply-button" (click)="onApply($event, gym.id)">Apply
    <span><svg class="caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 69.38 69.38"><defs><style>.fc790c57-7270-4c0b-9bae-d82faa547a37{fill:#fff;}</style></defs><title>caret</title><g id="afaa8f17-32d5-48d1-842f-083f6821f80e" data-name="Layer 2"><g id="a45f9351-ca34-4ee1-9b20-a5e338920831" data-name="Layer 1"><polygon class="fc790c57-7270-4c0b-9bae-d82faa547a37" points="34.69 66.39 34.69 66.39 3 3 66.39 3 34.69 66.39"/><path class="fc790c57-7270-4c0b-9bae-d82faa547a37" d="M34.69,69.38A3,3,0,0,1,32,67.73L.32,4.34A3,3,0,0,1,3,0H66.38a3,3,0,0,1,2.69,4.34L37.38,67.73A3,3,0,0,1,34.69,69.38ZM7.85,6,34.69,59.68,61.53,6Z"/></g></g></svg></span>
  </button>
  <div class="content">
    <h5 class="name font-weight-bold">{{gym.name | titlecase}}</h5>
    <div class="statistics">
      <div class="stars">
        <div *ngIf="!flat; else flatdesign">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 27 26"><defs><style>.cls-1{fill:none;}  .cls-2{clip-path:url(#star);}</style><clipPath id="star" transform="translate(2.5 2.5)"><path class="cls-1" d="M11,18.34,6.58,20.66c-1.82.95-3.38-.19-3-2.21l.85-4.89L.82,10.1C-.66,8.67,0,6.83,2,6.54l4.94-.72L9.12,1.37C10-.46,12-.46,12.87,1.37l2.21,4.45L20,6.54c2,.29,2.63,2.13,1.16,3.56l-3.57,3.46.84,4.89c.35,2-1.22,3.15-3,2.21L11,18.34Z"/></clipPath></defs><title>star</title><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><g class="cls-2"><rect width="27" height="26"/></g></g></g></svg>
          <span>{{gym.rate}}</span>
        </div>
        <ng-template #flatdesign>
          <app-rating [stars]="4" [size]="'sm'"></app-rating> <span>(144)</span>
        </ng-template>

      </div>
      <div class="km">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 370.85 512"><title>marker</title>
          <path d="M185.43,0C83.18,0,0,83.18,0,185.43c0,126.88,165.94,313.16,173,321a16.71,16.71,0,0,0,24.85,0c7.07-7.87,173-194.15,173-321C370.85,83.18,287.67,0,185.43,0Zm0,278.72a93.3,93.3,0,1,1,93.29-93.29A93.4,93.4,0,0,1,185.43,278.72Z"/>
        </svg>
        <span>1.5 km</span>
      </div>
      <div class="activities">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 15"><defs><style>.aa0a6f2d-ae11-435e-b069-18b16bd116aa {fill: #231f20;stroke: #000;stroke-linecap: round;stroke-linejoin: round;}</style></defs><title>gym</title><g id="e39ed439-79ee-4882-96c2-07f3d8205f23" data-name="Layer 2"><g id="ada9dff8-7e80-4110-b389-48258bf5a353" data-name="set"><rect class="aa0a6f2d-ae11-435e-b069-18b16bd116aa" x="17.5" y="0.5" width="3" height="14" rx="1" transform="translate(38 15) rotate(180)"/><rect class="aa0a6f2d-ae11-435e-b069-18b16bd116aa" x="20.5" y="3.5" width="3" height="8" rx="0.98" transform="translate(44 15) rotate(180)"/><rect class="aa0a6f2d-ae11-435e-b069-18b16bd116aa" x="3.5" y="0.5" width="3" height="14" rx="1"/><rect class="aa0a6f2d-ae11-435e-b069-18b16bd116aa" x="0.5" y="3.5" width="3" height="8" rx="0.98"/><rect class="aa0a6f2d-ae11-435e-b069-18b16bd116aa" x="6.5" y="5.5" width="11" height="3"/></g></g></svg>
        <span>{{gym.activities.length}} activities</span>
      </div>
    </div>
    <div class="pricing">
      <div class="digit">{{ getFullAccessPrice(gym.class.name) }} Dhs</div>
      <span>MonthPass Partout</span>
    </div>
  </div>
  <div class="suggestions">
    <div>
      <span class="name">{{ getSubscriptionByDuration(1)?.name || '?' }}</span> <span class="price"> {{ getSubscriptionByDuration(1)?.price || '?' }} Dhs</span>
    </div>
    <span class="separator">/</span>
    <div>
      <span class="name">{{ getSubscriptionByDuration(30)?.name || '?' }}</span> <span class="price">{{ getSubscriptionByDuration(30)?.price || '?' }} Dhs</span>
    </div>
    <span class="separator">/</span>
    <div>
      <span class="name">{{ getSubscriptionByDuration(365)?.name || '?' }}</span> <span class="price">{{ getSubscriptionByDuration(365)?.price || '?' }} Dhs</span>
    </div>
  </div>
</div>
