.favorite-gym{
    background-color: #f7f7fa;
    height: 100vh;
    padding: 0.7em;    
    font-family: 'Open Sans', sans-serif;  
}
.algn-hdr{
    display: flex;
    justify-content: space-between;
}
.svg-mn{
    width: 26px;
    padding: 12px 0;
}
.lg-img{
    width: 39px;
}
.fvr-hdr{
    position: fixed;
    z-index: 99;
    width: 91%;    
}
.fvr-ctn{
    // position: relative;
    // top: 9%;
    // border: 1px solid #000000;
    // padding-bottom: 2em;
    position: fixed;
    top: 60px;
    overflow-y: auto;
    height: 86vh;    
    width: 95%;
    right: 0;
    left: 50%;
    transform: translateX(-50%);
}
.fvr-ctn::-webkit-scrollbar {display: none;}
.tlt-gym{    
    color: #51516f;
    font-weight: 600;
    font-size: 17px;
    padding: 12px;
    letter-spacing: 0.5px;
    padding-bottom: 25px;
}
.blk-gym{
    background-color: #ffffff;
    padding: 22px 12px;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
    border-radius: 19px;
    box-shadow: 0px 8px 23px rgba(71,71,100,0.06);
    width: -webkit-fill-available;
}
.gym-img{
    width: 26%;
}
.blc-img{
    background-color: #424256;
    border-radius: 17px;
    padding: 5px;
    text-align: center;
}
.img-gym{
    width: 75px;
}
.gym-inf{
    width: 60%;
    margin: auto;
}
.gym-nm{
    font-size: 13px;
    line-height: 2.0;
    color: #72728e;
    font-weight: 600;
}
.gym-adrs{
    font-size: 11.3px;
    color: #8c8fa9;;
}
.svg-pst{
    width: 10px;
    fill: #8c8fa9;
}
.gym-btn{
    margin: auto 0;
    width: 2%;
}
.botn{
    width: 5px;
}

.gym-f-c{
    display: flex;
    justify-content: space-between;    
}
.gym-clr{
    background-color: #afaafd;
    border-radius: 13px;
    padding: 36px 15px;
    box-shadow: 0px 5px 3.5px rgba(71,71,100,0.13);
    color: #ffffff;
    margin-left: 12px;
    text-align: center;
}
.clr1{
    font-size: 22px;
    font-weight: 600;
    transform: rotateZ(45deg);
}
.clr2{
    font-size: 16px;
}

// .img-gym-2{
// width: 72px;
// }

































p{margin-block-start: 0 !important;
    margin-block-end: 0 !important;}