
@import "./src/assets/sass/bootstrap/scss/variables";

#topbar-s2 {

  svg#left-arrow {
    width: 1.3rem;
    fill: $primary;
  }

  #logo {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
}
