<h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h1>
<h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
<h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
<h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
<h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h6>

<div class="mb-5"></div>


<span class="font-weight-bolder">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
<span class="font-weight-bold">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
<span class="font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
<span class="font-weight-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
<span class="font-weight-lighter">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>
<span class="font-italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</span>

