
@import "./src/assets/sass/bootstrap/scss/variables";

.notification {
  &__duration {
    right: 0;
  }


  &__icon {
    &.orange {
      background-color: lighten(orangered, 40%);

      svg {
        fill: lighten(orangered, 20%);
      }
    }

    &.purple {
      background-color: lighten($primary, 30%);

      svg {
        fill: lighten($primary, 20%);
      }
    }

    &.blue {
      background-color: lighten($blue, 40%);

      svg {
        fill: lighten($blue, 20%);
      }
    }

    &.green {
      background-color: lighten($green, 40%);

      svg {
        fill: lighten($green, 20%);
      }
    }

    width: 30px;
    height: 30px;
    border-radius: 10px;
  }

  &__text {
    .more {
      font-size: 12px;
    }
  }
}
