<section class="sec-ses">
    <section>
        <div class="ses-hdr">
            <div>
                <a href=""><img src="../../../assets/session/back.svg" class="bck-icn"></a>
            </div>
            <div>
                <div class="ses-ntfy">
                    <div class="notif-ses">
                        <div class="ntf-elm">
                        </div>
                    </div>
                </div>
                <div class="ses-crcl">
                    <img src="../../../assets/session/prfl-ses.jpg" class="prfl-img" >
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="ses-s-hdr ses-hdr">
            <div class="tlt-ses">
                <h4>Sessions actuelles</h4>
            </div>
            <div class="ses-vt">
                <a href="" class="ses-tt">Voir Tout &nbsp; &rsaquo;</a>
            </div>
        </div>
        <div class="sessio-flex">
            <div class="ses-blck-glb">
                <div class="ses-block">
                    <div class="ent-pas">
                        <p>Active Pass : Month pass</p>
                    </div>
                    <div class="blck-ses">
                        <div class="pas-blk">
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/alter.svg" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Access gym</h5>
                                    <p>City club, Zarktouni, Casablaca</p>
                                </div>
                                <div style="float: right; padding-left: 7px;">
                                    <a href=""><img src="../../../assets/session/btn.svg" class="thr-icn"></a>
                                </div>
                            </div>
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/time.svg" style="height:17px;" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Duration</h5>
                                    <p>From 19/05/2019 to 19/06/2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="pas-tp">
                            <div class="ses-sl-tl">
                                <div class="ses-icn">
                                    <img src="../../../assets/session/icon-pas.svg" class="img-sec">
                                </div>
                                <h5>Pass Type</h5>
                            </div>
            
                            <div class="ses-alg l-h">
                                <div>
                                    <p>&nbsp; Type &nbsp;</p>
                                </div>
                                <div>
                                    <p>Régime</p>
                                </div>
                                <div>
                                    <p>Classe</p>
                                </div>
                            </div>
                            <div class="ses-alg brd-ses">
                                <div>
                                    <h5>Month</h5>
                                </div>
                                <div>
                                    <h5>Strict</h5>
                                </div>
                                <div>
                                    <h5>Silver</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ses-blck-glb">
                <div class="ses-block">
                    <div class="ent-pas ses-clr2">
                        <p>Confirm Pass : Month pass</p>
                    </div>
                    <div class="blck-ses">
                        <div class="pas-blk">
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/alter.svg" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Access gym</h5>
                                    <p>City club, Zarktouni, Casablaca</p>
                                </div>
                                <div style="float: right; padding-left: 7px;">
                                    <a href=""><img src="../../../assets/session/btn.svg" class="thr-icn"></a>
                                </div>
                            </div>
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/time.svg" style="height:17px;" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Duration</h5>
                                    <p>From 19/05/2019 to 19/06/2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="pas-tp">
                            <div class="ses-sl-tl">
                                <div class="ses-icn ses-clr2">
                                    <img src="../../../assets/session/icon-pas.svg" class="img-sec">
                                </div>
                                <h5>Pass Type</h5>
                            </div>
            
                            <div class="ses-alg l-h">
                                <div>
                                    <p>&nbsp; Type &nbsp;</p>
                                </div>
                                <div>
                                    <p>Régime</p>
                                </div>
                                <div>
                                    <p>Classe</p>
                                </div>
                            </div>
                            <div class="ses-alg brd-ses">
                                <div>
                                    <h5>Month</h5>
                                </div>
                                <div>
                                    <h5>Strict</h5>
                                </div>
                                <div>
                                    <h5>Silver</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="ses-s-hdr ses-hdr">
            <div class="tlt-ses">
                <h4>Sessions précédentes</h4>
            </div>
            <div class="ses-vt">
                <a href="" class="ses-tt">Voir Tout &nbsp; &rsaquo;</a>
            </div>            
        </div>    
        <div class="sessio-flex">
            <div class="ses-blck-glb">
                <div class="ses-block">
                    <div class="ent-pas ses-clr3 ">
                        <p>Inactive Pass : Month pass</p>
                    </div>
                    <div class="blck-ses">
                        <div class="pas-blk">
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/alter.svg" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Access gym</h5>
                                    <p>City club, Zarktouni, Casablaca</p>
                                </div>
                                <div style="float: right; padding-left: 7px;">
                                    <a href=""><img src="../../../assets/session/btn.svg" class="thr-icn"></a>
                                </div>
                            </div>
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/time.svg" style="height:17px;" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Duration</h5>
                                    <p>From 19/05/2019 to 19/06/2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="pas-tp">
                            <div class="ses-sl-tl">
                                <div class="ses-icn ses-clr3">
                                    <img src="../../../assets/session/icon-pas.svg" class="img-sec">
                                </div>
                                <h5>Pass Type</h5>
                            </div>
        
                            <div class="ses-alg l-h">
                                <div>
                                    <p>&nbsp; Type &nbsp;</p>
                                </div>
                                <div>
                                    <p>Régime</p>
                                </div>
                                <div>
                                    <p>Classe</p>
                                </div>
                            </div>
                            <div class="ses-alg brd-ses">
                                <div>
                                    <h5>Month</h5>
                                </div>
                                <div>
                                    <h5>Strict</h5>
                                </div>
                                <div>
                                    <h5>Silver</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ses-blck-glb">
                <div class="ses-block">
                    <div class="ent-pas ses-clr4">
                        <p>Cancled Pass : Month pass</p>
                    </div>
                    <div class="blck-ses">
                        <div class="pas-blk">
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/alter.svg" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Access gym</h5>
                                    <p>City club, Zarktouni, Casablaca</p>
                                </div>
                                <div style="float: right; padding-left: 7px;">
                                    <a href=""><img src="../../../assets/session/btn.svg" class="thr-icn"></a>
                                </div>
                            </div>
                            <div class="blk1">
                                <div class="ses-icn icon">
                                    <img src="../../../assets/session/time.svg" style="height:17px;" class="img-sec">
                                </div>
                                <div>
                                    <h5 class="l-h">Duration</h5>
                                    <p>From 19/05/2019 to 19/06/2019</p>
                                </div>
                            </div>
                        </div>
                        <div class="pas-tp">
                            <div class="ses-sl-tl">
                                <div class="ses-icn ses-clr4">
                                    <img src="../../../assets/session/icon-pas.svg" class="img-sec">
                                </div>
                                <h5>Pass Type</h5>
                            </div>
        
                            <div class="ses-alg l-h">
                                <div>
                                    <p>&nbsp; Type &nbsp;</p>
                                </div>
                                <div>
                                    <p>Régime</p>
                                </div>
                                <div>
                                    <p>Classe</p>
                                </div>
                            </div>
                            <div class="ses-alg brd-ses">
                                <div>
                                    <h5>Month</h5>
                                </div>
                                <div>
                                    <h5>Strict</h5>
                                </div>
                                <div>
                                    <h5>Silver</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>