<router-outlet></router-outlet>


<!-- <app-sign-in></app-sign-in>-->
<!-- <app-sign-up></app-sign-up>-->
<!-- <app-request-gyms></app-request-gyms>-->
<!-- <app-refer-friend></app-refer-friend>-->
<!--<app-session-h></app-session-h>-->
<!--<app-sessions></app-sessions>-->
<!--<app-sessions-prec></app-sessions-prec>-->
<!--<app-congratulation></app-congratulation>-->



<!--todo: (deprecated) remove this block later-->
<!--<section class="bg-glbl">
  <div class="container">
  </div>
</section>-->

