<!--<app-gyms-list></app-gyms-list>-->
<!--<app-gym-detials></app-gym-detials>-->
<!--<app-subsciption-status></app-subsciption-status>-->
<app-partner-home></app-partner-home>
<!-- <app-subsciption-status></app-subsciption-status> -->

<!--<section class="bg-glbl">-->
<!--    <div class="container">-->
<!--        <app-session-h></app-session-h>-->
<!--        &lt;!&ndash; <app-sessions></app-sessions> &ndash;&gt;-->
<!--        &lt;!&ndash; <app-sessions-prec></app-sessions-prec> &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->

<!-- <app-congratulation></app-congratulation> -->
