<!--
<div id="test">
  <div class="background"></div>
  <h2 class="heading position-fixed font-weight-bolder">Sing in</h2>

  &lt;!&ndash;Content&ndash;&gt;
  <div class="page-core">
    <p class="text-white pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate in
      maiores, natus perferendis quaerat. Animi asperiores atque, debitis dignissimos dolore eligendi, exercitationem
      fuga ipsam libero modi nam, sunt voluptates!</p>
  </div>
</div>
-->

<!--{{TOP BARS}}-->

<!--<topbar-s1></topbar-s1>-->
<!--<topbar-s2 navigateBackUrl="/account/overview"></topbar-s2>-->
<!--<topbar-s3 navigateBackUrl="/account/overview"></topbar-s3>-->
<!--<topbar-s4></topbar-s4>-->
<!--<topbar-s5></topbar-s5>-->
