
<div class="m-4 d-flex flex-column">
  <h4>Badr mamatahir</h4>
  <a routerLink="/subscriptions/status">/subscriptions/status</a>
  <a routerLink="/gyms/gym-details">/gyms/gym-details</a>
  <a routerLink="/gyms/gyms-overview">/gyms/gyms-overview</a>
  <a routerLink="/payment/checkout">/payment/checkout</a>
  <a routerLink="/payment/credit-cards">/payment/credit-cards</a>
  <a routerLink="/kyc/card-frontside">/kyc/card-frontside</a>
  <a routerLink="/kyc/card-backside">/kyc/card-backside</a>
  <a routerLink="/kyc/selfie">/kyc/selfie</a>
</div>
