
<div class="m-4 d-flex flex-column">
  <h4>Badr mamatahir</h4>
  <a routerLink="/subscriptions/status">/subscriptions/status</a>
  <a routerLink="/gyms/gym-details">/gyms/gym-details</a>
  <a routerLink="/gyms/gyms-overview">/gyms/gyms-overview</a>
  <a routerLink="/payment/checkout">/payment/checkout</a>
  <a routerLink="/payment/credit-cards">/payment/credit-cards</a>
  <a routerLink="/kyc/card-frontside">/kyc/card-frontside</a>
  <a routerLink="/kyc/card-backside">/kyc/card-backside</a>
  <a routerLink="/kyc/selfie">/kyc/selfie</a>
  <a routerLink="/account/overview">/account/overview</a>
  <a routerLink="/account/settings/edit-profile">/account/settings/edit-profile</a>
  <a routerLink="/account/notifications">/account/notifications</a>
  <a routerLink="/account/profile">/account/profile</a>

  <h4 class="mt-2">Mehdi Zouihar</h4>
  <a routerLink="/sign-in">/sign-in</a>
  <a routerLink="/sign-up">/sign-up</a>
  <a routerLink="/request-gyms">/request-gyms</a>
  <a routerLink="/refer-friends">/refer-friends</a>

  <h4 class="mt-2">Azzedine Ghattas</h4>
  <a routerLink="/sessions">/session</a>
  <a routerLink="/sessions/actuelles">/sessions-actuelles</a>
  <a routerLink="/sessions/precedentes">/sessions-precedentes</a>
  <a routerLink="/congratulation">/congratulation</a>
  <a routerLink="/check-in">/check-in</a>
  <a routerLink="/favorite-gym">/favorite-gym</a>

  <h5 class="mt-5 text-info">Playground <span class="h6 text-secondary">(testing area)</span></h5>
  <a routerLink="/test">/test</a>
  <a routerLink="/top-bars">/top-bars</a>
</div>
