@import "./src/assets/sass/spotfit/variables";


span {
  font-size: $font-size-sm;
}

.list {
  padding: 0 20px;
  font-size: $font-size-base;
  color: $font-color;
  // put content in the middle
  max-width: 400px;
  margin: 0 auto;


  .header {
    .topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 21.6px 0;

      .menu {
        margin-top: 5px;

        svg {
          height: $icon-md;
          fill: $primary;
          padding-right: 5px;
        }
      }

      .grid-system {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 50px;
        overflow: hidden;
        @include box-shadow;

        .tab {
          display: flex;
          align-items: center;
          padding: 13px 15px;


          &:first-child {
            border-right: 1px solid $primary-light;
          }

          &.active * {
            stroke: $primary !important;
            color: $primary !important;
          }

          svg {
            height: $icon-sm;
            padding-right: 5px;

            & * {
              stroke: $font-color;
            }

          }
        }
      }

      .profile {
        position: relative;

        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          border: 2px solid $primary;
        }

        .status {
          padding: 5px;
          border-radius: 100%;
          background-color: $primary-light;
          border: 1px solid white;
          position: absolute;
          top: 0;
          right: 0;

          &.active {
            background-color: $green;
          }

          &.inactive {
            background-color: #cd0000;
          }
        }
      }
    }
  }

  main.body {
    max-height: 80vh;
    overflow-y: scroll;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 43px;

    .thumbnails {
      background-color: white;
      border-radius: 11px;
      margin-bottom: 1rem;
      position: relative;
      width: 100%;
      height: 139px;
      @include box-shadow;

      .feature-image {
        border-radius: 11px;
        background-color: rgb(125, 126, 148);
        @include prefix('box-shadow', 0px 6px 9px 0px rgba(74, 80, 98, 0.21));
        position: absolute;
        left: -12px;
        top: 50%;
        width: 97px;
        height: 97px;
        transform: translateY(-50%);
        object-fit: cover;
      }

      .class {
        position: absolute;
        right: 0;
        top: 60px;
        padding: 5px 11px;
        display: flex;
        align-items: center;
        color: white;
        border-radius: 50px 0 0 50px;

        &.silver {
          background-color: $silver;
        }
        &.gold {
          background-color: $gold;
        }
        &.platinum {
          background-color: $platinum;
        }

        svg {
          margin-right: 5px;
          fill: white;
          width: 8px;
        }
      }

      .appy-button {
        background-image: -moz-linear-gradient(11deg, rgb(203, 124, 196) 0%, rgb(86, 51, 160) 100%);
        background-image: -webkit-linear-gradient(11deg, rgb(203, 124, 196) 0%, rgb(86, 51, 160) 100%);
        background-image: -ms-linear-gradient(11deg, rgb(203, 124, 196) 0%, rgb(86, 51, 160) 100%);
        box-shadow: 0px 9px 18px 0px rgba(110, 80, 174, 0.45);
        border-radius: 50px !important;
        width: 74px;
        position: absolute;
        right: -14px;
        bottom: 14px;
        padding-bottom: 6px;

        .caret {
          width: 6px;
          transform: rotate(-90deg);
          margin-left: 1px;
        }

      }

      .content {
        padding-left: 95px;
        padding-top: 20px;

        .name {
          font-size: 15px;
          color: $primary-dark;
          font-weight: 600;
        }

        .statistics {
          display: flex;
          align-items: center;
          font-size: 11px;
          & > div {
            display: flex;
            align-items: center;
            color: $primary-light-1;
            margin-right: 10px;

            svg {
              width: 11px;
              fill: $primary-light-1;
              margin-right: 3px;

              & * {
                stroke: $primary-light-1;
                fill: $primary-light-1;
              }
            }
          }
        }

        .pricing {
          margin-top: 7px;
          .digit {
            font-weight: 600;
            color: $green;
            margin-bottom: -5px;
          }
        }
      }

      .suggestions {

        position: absolute;
        bottom: 1px;
        left: 6px;

        span {
          font-size: 8px;
        }
        .price {
          font-weight: 600;
          margin-right: 3px;
        }

        .name {
          margin-right: 1px;
        }
      }
    }


  }

  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 400px;
    background: white;
    min-height: 80px;
    border-radius: 2rem 2rem 0 0;
    margin: 0 auto;

    .background {
      display: inline-block;
      padding: 5px;
      background-image: linear-gradient(to bottom, #baa6e4, transparent 100%);
      border-radius: 50%;
      margin-top: -50%;
      margin-left: 50%;
      transform: translateX(-50%);

      .qrcode {
        display: inline-block;
        padding: 10px;
        background-color: #886FC4;
        border-radius: 50%;

        img {
          height: 30px;
        }
      }
    }

    .options {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 20px;
      margin: -14px 20px 20px 20px;

      & > div {
        display: flex;
        flex-flow: column;

        svg {
          height: $icon-lg;
          fill: $primary;
          margin-bottom: 5px;

          & * {
            stroke: $primary;
          }
        }
      }
    }
  }
}
