/* You can add global styles to this file, and also import other style files */

@import "~@ng-select/ng-select/themes/default.theme.css";

.pace {
  .pace-progress {
    background-image: linear-gradient(45deg, white, transparent) !important;
    height: 1.5px !important;
  }

  .pace-activity {
    display: none !important;
  }
}


.custom-control.custom-radio {
  margin-bottom: 8px;
}


.affix {
  &-top
  ,&-middle {
    width: 100%;
    position: fixed;
    padding: 0 20px;
    z-index: 10;
  }

  &-top {
    top: 20px;
  }

  &-middle {
    height: 90vh;
    overflow-y: scroll;
    top: 80px;
  }
}

.spotfit-logo {
  width: 39.7px;
}

.btn-inline {
  color: inherit;
  background: transparent;
  border: none;
  text-decoration: underline;
}


// modal

.modal-phone {
  .modal-body {
    padding: 37px 28px;

    &::before {
      content: "";
      display: inline-block;
      width: 50px;
      height: 4px;
      background: #f7f7f7;
      border-radius: 50px;
      position: absolute;
      top: 16px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .modal-dialog {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }

  .modal-content {
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-radius: 2.5rem 2.5rem 0 0;
  }

}

.line-height {
  &-md {
    line-height: 1.3;
  }
}


