<section class="chk-in">
    <section class="chk-hdr">
        <div class="hdr-fx">
            <svg  class="bck-icn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 62 36" width="62" height="36">
                <defs>
                    <image width="13" height="22" id="img1"
                        href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMyAyMiIgd2lkdGg9IjEzIiBoZWlnaHQ9IjIyIj4KCTxkZWZzPgoJCTxjbGlwUGF0aCBjbGlwUGF0aFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgaWQ9ImNwMSI+CgkJCTxwYXRoIGQ9Ik0wIDBMMTMgMEwxMyAyMkwwIDIyWiIgLz4KCQk8L2NsaXBQYXRoPgoJPC9kZWZzPgoJPHN0eWxlPgoJCXRzcGFuIHsgd2hpdGUtc3BhY2U6cHJlIH0KCQkuc2hwMCB7IGZpbGw6IG5vbmU7c3Ryb2tlOiAjMTYzNTY3O3N0cm9rZS1saW5lY2FwOnJvdW5kO3N0cm9rZS1saW5lam9pbjpyb3VuZDtzdHJva2Utd2lkdGg6IDIuNSB9IAoJPC9zdHlsZT4KCTxnIGlkPSJQYWdlIDEiIGNsaXAtcGF0aD0idXJsKCNjcDEpIj4KCQk8cGF0aCBpZD0iUGF0aCAxIiBjbGFzcz0ic2hwMCIgZD0iTTEuMjUgNi43NUw2LjI1IDEuNzVNMTEuMjUgNi43NUw2LjI1IDEuNzVNNi4yNSAyMC43NUw2LjI1IDEuNzUiIC8+Cgk8L2c+Cjwvc3ZnPg==" />
                </defs>                
                <g id="top">
                    <use id="back" href="#img1" transform="matrix(0,-2.72,2.744,0,2,35)" />
                </g>
            </svg>
        </div>
    </section>
    <div class="ctn-chk">
        <section class="chk-blck">
            <div class="sessio-flex">
                <div class="ses-blck-glb">
                    <div class="ses-block">
                        <div class="ent-pas">
                            <p>Active Pass : Month pass</p>
                        </div>
                        <div class="blck-ses">
                            <div class="pas-blk">
                                <div class="blk1">
                                    <div class="ses-icn">
                                        <svg class="img-sec" _ngcontent-hcl-c1="" viewBox="0 0 24 15"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <defs _ngcontent-hcl-c1="">
                                                <style _ngcontent-hcl-c1="">
                                                    .aa0a6f2d-ae11-435e-b069-18b16bd116aa {
                                                        fill: #231f20;
                                                        stroke: #000;
                                                        stroke-linecap: round;
                                                        stroke-linejoin: round;
                                                    }
                                                </style>
                                            </defs>
                                            <title _ngcontent-hcl-c1="">gym</title>
                                            <g _ngcontent-hcl-c1="" data-name="Layer 2"
                                                id="e39ed439-79ee-4882-96c2-07f3d8205f23">
                                                <g _ngcontent-hcl-c1="" data-name="set"
                                                    id="ada9dff8-7e80-4110-b389-48258bf5a353">
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="14" rx="1" transform="translate(38 15) rotate(180)" width="3"
                                                        x="17.5" y="0.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="8" rx="0.98" transform="translate(44 15) rotate(180)" width="3"
                                                        x="20.5" y="3.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="14" rx="1" width="3" x="3.5" y="0.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="8" rx="0.98" width="3" x="0.5" y="3.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="3" width="11" x="6.5" y="5.5"></rect>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="chk-tl">
                                        <h5 class="l-h">Gym</h5>
                                        <p>City club, Zarktouni</p>
                                    </div>
                                    <div class="btn-mn">
                                        <a href=""><img src="../../../assets/session/btn.svg" class="thr-icn"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="pas-tp">
                                <div class="blc1">
                                    <h5 class="l-h">Duration</h5>
                                    <p>From 19/5/19 to 19/5/19</p>
                                </div>
                                <div class="blc2">
                                    <h5 class="l-h">Remaining</h5>
                                    <p>Time : 30 days</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ses-blck-glb">
                    <div class="ses-block">
                        <div class="ent-pas">
                            <p>Active Pass : Month pass</p>
                        </div>
                        <div class="blck-ses">
                            <div class="pas-blk">
                                <div class="blk1">
                                    <div class="ses-icn">
                                        <svg class="img-sec" _ngcontent-hcl-c1="" viewBox="0 0 24 15"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <defs _ngcontent-hcl-c1="">
                                                <style _ngcontent-hcl-c1="">
                                                    .aa0a6f2d-ae11-435e-b069-18b16bd116aa {
                                                        fill: #231f20;
                                                        stroke: #000;
                                                        stroke-linecap: round;
                                                        stroke-linejoin: round;
                                                    }
                                                </style>
                                            </defs>
                                            <title _ngcontent-hcl-c1="">gym</title>
                                            <g _ngcontent-hcl-c1="" data-name="Layer 2"
                                                id="e39ed439-79ee-4882-96c2-07f3d8205f23">
                                                <g _ngcontent-hcl-c1="" data-name="set"
                                                    id="ada9dff8-7e80-4110-b389-48258bf5a353">
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="14" rx="1" transform="translate(38 15) rotate(180)" width="3"
                                                        x="17.5" y="0.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="8" rx="0.98" transform="translate(44 15) rotate(180)" width="3"
                                                        x="20.5" y="3.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="14" rx="1" width="3" x="3.5" y="0.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="8" rx="0.98" width="3" x="0.5" y="3.5"></rect>
                                                    <rect _ngcontent-hcl-c1="" class="aa0a6f2d-ae11-435e-b069-18b16bd116aa"
                                                        height="3" width="11" x="6.5" y="5.5"></rect>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="chk-tl">
                                        <h5 class="l-h">Gym</h5>
                                        <p>City club, Zarktouni</p>
                                    </div>
                                    <div class="btn-mn">
                                        <a href=""><img src="../../../assets/session/btn.svg" class="thr-icn"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="pas-tp">
                                <div class="blc1">
                                    <h5 class="l-h">Duration</h5>
                                    <p>From 19/5/19 to 19/5/19</p>
                                </div>
                                <div class="blc2">
                                    <h5 class="l-h">Remaining</h5>
                                    <p>Time : 30 days</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="chk-See">See all &nbsp; &rsaquo;</div>
        </section>
        <section class="chk-qr">
            <div class="blk-qr-g">
                <div class="chk-bg-gr">
                    <div style="text-align: center;">
                        <img src="../../../assets/check-in/qr-code.png" class="qr-img">
                        <div class="brd-qr"> </div>
                        <div class="esp-qr"></div>
                    </div>
        
                </div>
                <div class="ef-bg-crcl">
                    <div class="crcl1-qr dims"></div>
                    <div class="crcl2-qr dims"></div>
                </div>
            </div>
        </section>
        <section class="chk-blk-pas">
            <div class="chk-bl-pd">
                <div>
                    <p class="chk-ttl">Month Pass Partout</p>
                </div>
        
                <div class="alg-cls">
                    <div class="cls-wd">
                        <div class="cnt-cls">
                            <div class="lst-cls clrbr"></div>
                            <p>Bronze</p>
                        </div>                        
                    </div>
                    <div class="cls-wd">
                        <div class="cnt-cls brd-cls m-l">
                            <div class="lst-cls clrsl"></div>
                            <p>Silver</p>
                        </div>                        
                    </div>
                    <div class="cls-wd">
                        <div class="cnt-cls brd-cls m-l">
                            <div class="lst-cls clrgl"></div>
                            <p>Gold</p>
                        </div>                        
                    </div>
                    <div class="cls-wd">
                        <div class="cnt-cls brd-cls">
                            <div class="lst-cls clrpl"></div>
                            <p>Platinum</p>
                        </div>                        
                    </div>
                </div>
                <div class="alg-cls trf-br">
                    <div class="pr-wd bronze">
                        <button class="prx-cls">199 Dhs</button>
                    </div>
                    <div class="pr-wd silver brd-cls">
                        <button class="prx-cls">299 Dhs</button>
                    </div>
                    <div class="pr-wd gold brd-cls">
                        <button class="prx-cls">399 Dhs</button>
                    </div>
                    <div class="pr-wd platinum brd-cls">
                        <button class="prx-cls">649 Dhs</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="ftr-ck">
        <section class="chck-btn">
            <div class="btn-chk">
                <button class="btn-gym">Find a Gym</button>
            </div>            
        </section>
    </div>
    
</section>

